<!doctype html>
<html ng-app="TodoApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular Todos by Zachary Lee</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
</head>

<body>
  <script src="//code.jquery.com/jquery-1.11.3.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
  <script src="//code.angularjs.org/1.2.29/angular-route.js"></script>
  <script src="./app/app.js"></script>
  <script src="./app/services/services.js"></script>
  <script src="./app/todolist/todolist.js"></script>
  <script src="./app/todoform/todoform.js"></script>
  <h1>MKS29 Todos</h1>
  <a href='/#/'>Todos</a>
  <a href='/#/new'>New</a>
  <div ng-view></div>
</body>
</html>